/* Font */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 0.516), rgba(255, 255, 255, 0.516)), url(../images/movie-poster-collage.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container {
    width: 600px;
    max-width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 10px 2px;
}

.border {
    background-image: url(../images/border.png);
    width: 100%;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* Home Page */

/* Containers */

.container-0, .container-1, .container-2 {
    background-color: rgba(255, 255, 255, 0.882);
    width: 600px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

/* Titles */

.title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#title-one, #title-two {
    max-width: 90%;
}

#title-two {
    margin-top: 0.5rem;
}

/* Buttons */

.buttons-div {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    margin: 0.5rem;
    font-size: 1.3rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    border: 1px black solid;
}

.start, #next-button, #end-button {
    background: linear-gradient(#64c550, #408e39);
    color: rgb(255, 255, 255);
}

.rules, #home-button, #second-home-button {
    background: linear-gradient(#6496e6, #1d50b6);
    color: rgb(255, 255, 255);
}

.start:hover, #next-button:hover, #end-button:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #479144;
}

.rules:hover, #back-button:hover, #home-button:hover, #second-home-button:hover {
    box-shadow: 0 0.4rem 1.4rem 0 #1d50b6;
}

.btn:hover {
    transition: transform 150ms;
    transform: scale(1.03);
}

#back-button {
    background: linear-gradient(#6496e6, #1d50b6);
    color: rgb(255, 255, 255);
}

/* Intro Paragraphs */

.volume-text {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    text-align: center;
}

.intro-text {
    margin-bottom: 1.5rem;
    text-align: center;
}

/* Rules */

li {
    margin-bottom: 0.5rem;
}

/* Quiz */

/* Audio */

#audio-div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audio-controls {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.audio-button:hover {
    transition: transform 150ms;
    transform: scale(1.05);
    box-shadow: 0 0.4rem 1rem 0 #424242;
}

#play, #pause {
    font-size: 2.5rem;
    padding: 0.8rem 1.5rem;
    border: 5px #000000 solid;
    background-color: #ffffff72;
    border-radius: 3rem;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.fa-play {
    position: relative;
    left: 4px;
}

#play {
    padding: 0.8rem 1.4rem;
}

/* Answers */

#answers-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
}

.answer-button {
    text-align: left;
    padding: 1.2rem;
    background-color: white;
    color: black;
    font-size: 1rem;
    border-radius: 10px;
    border: 1px black solid;
}

.answer-button:hover {
    transition: transform 150ms;
    transform: scale(1.02);
    box-shadow: 0 0.4rem 0.5rem 0 #b8b8b8;
    background-color: #e9f0ff;
}

/* Score */

#score-progress-bar-div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    margin-bottom: 0.5rem;
}

.score-div {
    text-align: end;
    width: 25%;
}

#score {
    margin: 0;
    font-size: 2rem;
    margin-right: 0.5rem;
}

.score-text {
    margin-bottom: 0;
    margin-top: 0.7rem;
}

/* Progress Bar */

.progress-bar-text {
    margin-top: 0.5rem;
    margin-bottom: 0;
}

.progress-bar-div {
    text-align: center;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#progress-bar {
    width: 200px;
    border: solid 2px black;
    height: 15px;
    border-radius: 5px;
}

#progress-bar-inner {
    background-color: #6c398e;
    height: 100%;
    width: 0%;
}

/* Countdown Timer */

.countdown-timer-div {
    width: 25%;
}

/* Question */

#question {
    text-align: center;
}

/* Correct and Incorrect Button Styling */

.correct {
    background: linear-gradient(#64c550, #408e39);
    color: white;
}

.incorrect {
    background: linear-gradient(#ea1e1e, #c40000);
    color: white;
}

/* Hide */

.hide {
    display: none;
}

/* Quote Figure */

#quote-figure {
    text-align: center;
}

#movie-end-quote {
    font-style: italic;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

#end-score-text {
    text-align: center;
}

/* Responsiveness */

/* Super Wide */

@media screen and (max-width: 1300px) {

    body {
        height: 110vh;
    }
}

@media screen and (max-width: 1024px) {

    body {
        height: 150vh;
        align-items: flex-start;
    }

    .outer-container {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 550px) {

    .border {
        height: 80px;
    }
}

@media screen and (max-width: 400px) {

    .border {
        height: 60px;
    }
}

@media screen and (max-width: 360px) {

    .volume-text {
        font-size: 1.2rem;
    }

    #rules-list {
        padding-left: 1.4rem;
    }

    li {
        margin-bottom: 0.7rem;
    }

    body {
        height: 120vh;
    }

    .buttons-div {
        width: 100%;
    }

    #timer-text, .progress-bar-text, .score-text {
        font-size: 1rem;
    }

    #score {
        font-size: 1.8rem;
    }

    #question {
        font-size: 1.5rem;
    }

    #play, #pause {
        font-size: 2.5rem;
        padding: 0.7rem 1.3rem;
    }
    
    #play {
        padding: 0.7rem 1.2rem;
    }

    .answer-button {
        font-size: 1rem;
    }

    #end-score-text {
        font-size: 1.5rem;
    }

    #quote-figure, #movie-end-quote {
        margin-left: 0;
        margin-right: 0;
    }

    #movie-end-quote {
        font-size: 1.3rem;
    }

    figcaption {
        font-size: 1rem;
    }

}


@media screen and (max-width: 320px) {

    .border {
        height: 50px;
    }
}

@media screen and (max-width: 280px) {

    .volume-text {
        font-size: 1.1rem;
        margin-top: 1.5rem;
    }

    .intro-text {
        font-size: 0.9rem;
    }

    #start-button, #rules-button {
        font-size: 1.1rem;
    }

    #rules-list {
        font-size: 0.9rem;
        padding-left: 1rem;
    }

    #back-button {
        font-size: 1.1rem;
    }

    li {
        margin-bottom: 0.7rem;
    }

    #timer-text {
        font-size: 0.9rem;
    }

    .progress-bar-text {
        font-size: 0.9rem;
    }

    #score-progress-bar-div {
        padding: 0;
    }

    .score-text {
        font-size: 0.9rem;
    }

    #score {
        font-size: 1.7rem;
    }

    #question {
        font-size: 1.3rem;
    }

    .answer-button {
        padding: 1rem;
        font-size: 0.9rem;
    }

    #home-button, #second-home-button {
        font-size: 1.1rem;
    }

    #next-button {
        font-size: 1.1rem;
    }

    #end-button {
        font-size: 1.1rem;
    }

    #end-score-text {
        font-size: 1.3rem;
    }

    #movie-end-quote {
        font-size: 1.1rem;
    }

    figcaption {
        font-size: 0.9rem;
    }

    #play, #pause {
        font-size: 2rem;
        padding: 0.6rem 1.2rem;
    }
    
    #play {
        padding: 0.6rem 1.1rem;
    }

}